%h1 OUT OF COUNTRY VOTING (OCV)
%h2 FOR THE LIBYA CONSTITUTIONAL DRAFTING ASSEMBLY (CDA) ELECTION

%h3 Background

%h4 1. Q: What is the Constitutional Drafting Assembly Election?
%p.a
  %strong A:
  The Constitutional Drafting Assembly (CDA) Election is for the election of 60 members whose task will be to draft the new Constitution of Libya. The election will be conducted by the High National Election Commission (HNEC).

%h4 2. Q: What is the HNEC?
%p.a
  %strong A:
  According to Electoral Law No. 8 (2013), the High National Election Commission (HNEC) is the Libyan institution authorized to conduct the CDA Election.
  HNEC consists of:
  %ol{:type => 'a'}
    %li The Board of Commissioners, which consists of 7 commissioners. The Board’s role is to oversee the implementation of the electoral process and issue all executive instructions, internal regulations, and policies required to administer the elections. The Board will also certify and announce the results of the election.
    %li The Central Administration Office, which is the executive branch of HNEC. It is based in Tripoli and is responsible for the overall operational implementation of the election and the supervision of the Electoral Committee Offices.
    %li The Electoral Committee Offices, which are based in the constituencies where the Electoral Committee is based. Their role is the operational implementation of the election within the constituencies and down to the polling station level. They report to the Central Administration Office.

%h4 3. Q: How are members of the Constitutional Drafting Assembly elected?
%p.a
  %strong A:
  The members CDA will be elected using a majoritarian electoral system. The candidates will compete for the individual seats in three electoral areas – East, West and South. The 60 seats are to be equally distributed among the three electoral areas in the following manner:
%ul
  %li 20 for the Eastern electoral area
  %li 20 for the Western electoral area
  %li 20 for the Southern electoral area
%p.a
  Six seats are reserved for women - 2 seats in each of the three areas. Six seats are reserved for the cultural and linguistic components of the Libyan
  people (Tebu, Tuareg and Amazigh).

%h4 4. Q: What is Out-of-Country Voting?
%p.a
  %strong A:
  In accordance with Law 17 on the Constitutional Drafting Assembly Election, the Libyans living abroad have the opportunity to register and vote for the CDA
  election.

%h4 5. Q: Where will Out-of-Country Voting (OCV) be held?
%p.a
  %strong A:
  Pending approval of the governments of the host countries, OCV for the CDA Election will take place in 13 countries and the following cities within those
  countries:
  %ul
    %li Canada – Ottawa and Calgary
    %li Egypt – Cairo
    %li Germany – Berlin and Bonn
    %li Ireland – Dublin
    %li Italy – Rome
    %li Jordan – Amman
    %li Malaysia – Kuala Lumpur
    %li Qatar – Doha
    %li Tunisia – Tunis
    %li Turkey - Istanbul
    %li United Arab Emirates – Dubai
    %li United Kingdom – London and Manchester
    %li United States – Washington DC, Denver, Houston and Los Angeles

%h4 6. Q: Who is responsible for the OCV operation?
%p.a
  %strong A:
  HNEC is fully responsible for all aspects of the CDA Election, including out-of-country voting in the 13 selected countries. For the conduct of the OCV
  operation, HNEC established an OCV Committee.

%h4 7. Q: What is IOM’s role in OCV for Libya CDA Election?
%p.a
  %strong A:
  IOM has been asked by HNEC to support it as an implementing partner in conducting the OCV in the 13 selected countries. For this purpose, IOM opened an OCV Coordination Office in Tripoli and OCV Country Offices in the 13 selected countries. For the implementation of the OCV operation, IOM will work under the umbrella of the United Nations Election Support Team (UNEST) and in accordance with the regulatory framework approved by HNEC.

%h3 Eligibility and Voter Registration

%h4 8. Q: Who can register to vote in the OCV for the CDA Election?
%p.a
  %strong A:
  In order to register to vote in the OCV for the CDA Election a person must:
%ol{:type => 'a'}
  %li Be a Libyan citizen;
  %li Have reached 18 years of age on the day of registration;
  %li Be legally competent;
  %li Be a holder of National Number; and
  %li Apply to be included in the Voter Register.

%h4 9. Q: How does a person prove eligibility to register to vote in the OCV for the CDA Election?
%p.a
  %strong A:
  In order to register a person must be in possession of her/his National Number and provide it as proof of eligibility in the course of the voter registration process.

%h4 10. Q: What can persons do if they don’t know their National Number?
%p.a
  %strong A:
  Law 17 (2013) on the CDA Election stipulates that people must use their National Number to register to vote. Libyans who do not know their National Number can contact the National Number Project on
  %a{href: "http://www.nid.gov.ly"} www.nid.gov.ly
  or
  = succeed "." do
    %a{href: "mailto:info@nid.gov.ly"} info@nid.gov.ly

%h4 11. Q: How can a person register to vote for the OCV for the CDA Election?
%p.a
  %strong A:
  The voter registration for the OCV for the CDA Election will be conducted online. The person needs to apply for registration on the website
  = succeed "." do
    %a{href: "http://www.voteabroad.ly"} www.voteabroad.ly

%h4 12. Q: Can a person register to vote if s/he does not have a National Number?
%p.a
  %strong A:
  No. No person will be allowed to register to vote in the OCV for the CDA Election if s/he cannot provide the National Number.

%h4 13. Q: When will the registration begin and how long will it last?
%p.a
  %strong A:
  Registration for the OCV for the CDA Election will start on 1 December 2013. The duration of the voter registration period for the OCV will be determined by the Commission at a later stage.

%h4 14. Q: Can a person be registered in Libya and vote at some of the OCV locations?
%p.a
  %strong A:
  No. In order to be able to vote in the OCV a person must register to vote out of country on the website
  = succeed "." do
    %a{href: "http://www.voteabroad.ly"} www.voteabroad.ly

%h3 Polling

%h4 15. Q: When and where will polling for OCV for the CDA Election take place?
%p.q
  %strong A:
  The polling for OCV for the CDA Election will last for at least 3 days. HNEC will set the exact polling days for OCV. The polling will be conducted in-person and will take place in the designated Polling Centers (PC). Each PC will consist of one or more Polling Stations (PS).

%h4 16. Q: Where will the PCs be located?
%p.a
  %strong A:
  Whenever feasible the PCs will be located in the Libyan Embassies and Consulates in the 13 countries. In some of the countries PCs will be established in
  more than one location (for the cities see question number 3).

%h4 17. Q: How will the identity of registered voters be established during polling?
%p.a
  %strong A:
  The identity of registered voters will be established through presentation of an identification document that contains voter’s photo, such as:

%ul
  %li Libyan passport
  %li Family Book – for voters whose photo is in the Family Book
  %li Libyan National ID Card – old or new
  %li Any personal identification document issued by the Libyan authorities
  %li Any photo ID issued by any official state authorities
%p.a
  The registered voter must present any of the above listed identification documents in order to be allowed to vote.

%h3 Voter Registration Data

%h4 18. Q: Do host country authorities get a copy of voter registration data? Does IOM keep a copy after the election?
%p.a
  %strong A:
  IOM will not be providing voter registration data to host countries, nor will it be keeping a copy of the registration data itself once the election is over.

%h4 19. Q: Will the HNEC get a copy of the data once the election is over?
%p.a
  %strong A:
  Yes, the HNEC will have a copy of data because the CDA Election is being organized and conducted by HNEC.

%h3 Processes – General

%h4 Q: Will Libyan nationals residing in countries other than OCV host countries be able to register and vote? If yes, how and where?
%p.a
  %strong A:
  Yes. Eligible Libyan nationals can register and vote regardless of where or in which country they currently reside. But they must travel to one of the PCs in which they registered in order to vote.

%h4 21. Q: Will OCV Polling Stations be gender specific, as in Libya?
%p.a
  %strong A:
  No. The HNEC, after the conduct of the OCV for 2012 GNC election and after examining the practices in all of the OCV host countries that have conducted national elections, decided that there is no need for gender specific stations for the OCV.

%h4 22. Q: How many electoral constituencies are there?
%p.a
  %strong A:
  For election purposes, Libya has been divided to three electoral areas and further divided into 11 main constituencies. These main constituencies are further divided into 47 voting districts. To see the voting districts go to
  = succeed "." do
    %a{href: "http://www.hnec.ly"} www.hnec.ly
%p.a
  Candidates for general seats compete in 46 voting districts. Candidates for the seats reserved for women will compete in 6 voting districts. Candidates for the seats reserved for the cultural and linguistic components compete in 6 voting districts.
%p.a
  The candidates for all seats will compete under the majoritarian system. Out of the total of 47 voting districts within the country:
%ol{:type => 'a'}
  %li
    23 voting districts will have only one ballot paper:
    %ul
      %li 13 voting districts will have a general ballot paper
      %li 1 voting district will have a special ballot paper (cultural component)
      %li 9 voting districts will have a combination ballot paper on which both candidates for the general seats and candidates for cultural and linguistic component seats appear.
  %li
    24 voting districts will have two ballot papers:
    %ul
      %li 23 voting districts will have one general ballot paper and one special ballot paper (women seats)
      %li 1 voting district will have one special ballot paper (women seats) and one combination ballot paper.

%h4 23. Q: How does the majoritarian system work?
%p.a
  %strong A:
  Some voting districts will elect one representative and some will elect more than one representative. The number of seats in the voting districts ranges from 1 to 3. Individual candidates contest seats at the voting district level. The voters cast one vote for only one candidate and the seats are won by the
  candidates with the most votes.

%h4 24. Q: How does a person vote on the combination ballot paper?
%p.a
  %strong A:
  The combination ballot paper has two sections – one for the general seat candidates and one for the cultural and linguistic component candidates. The voter has one vote to cast and can only vote on one section of the ballot paper. The winner of the general race is the candidate who wins the highest number of votes among the candidates on the general race section of the ballot paper and the winner of the cultural and linguistic component race is the candidate who wins the highest number of votes among the candidates on the cultural and linguistic component race section of the ballot paper.

%h4 25. Q: There are 47 voting districts with different types of seats allocated for each of them. For which voting district will the eligible voters cast their votes in OCV?
%p.a
  %strong A:
  Eligible voters for the OCV process can cast a vote for a voting district of her or his choice. At polling the voters will select the voting district in which they wish to cast their votes and depending on the voting district of their choice, will cast either:
  %ul
    %li one ballot paper (for general seat, or for cultural component seat, or combination ballot paper) or;
    %li two ballot papers (if the voting district of their choice has two races).

%h4 26. Q: Do the voters in OCV vote on the same ballot papers as in Libya?
%p.a
  %strong A:
  No. HNEC will design special ballot papers for the OCV process:
  %ul
    %li one ballot paper for the general seats,
    %li ne ballot paper for the seats reserved for women, and
    %li one combination ballot paper where general seat and cultural and linguistic component seats sections appear.
%p.a
  These ballot papers will not contain the names of candidates; rather, they will contain a table with numbers. The voter will need to mark the number in the table corresponding to the number of the candidate as it appears on the in-country ballot paper.

%h4 27. Q: How will the OCV voters know who the candidates are?
%p.a
  %strong A:
  Once confirmed, the HNEC will publish a list of all the candidates registered to contest in each voting district on their website
  = succeed "." do
    %a{href: "http://www.hnec.ly"} http://www.hnec.ly
  %ol
    %li Help voters identify the voting district for which they wish to cast their vote,
    %li Provide a booklet listing all the eligible candidates for that voting district, in the order in which they appear on the in-country ballot paper, and
    %li Explain how to mark the ballot paper.
