.hero-unit
  %h2= t('reset_password.header')
  %p= t('reset_password.paragraph')
  - if request.put?
    .alert.alert-error= t('reset_password.form.error')
  = form_for @user, :url => password_reset_url(@user.password_reset_token) do |f|
    %label= t('reset_password.form.labels.password')
    = f.password_field :password
    %br
    %label= t('reset_password.form.labels.confirm')
    = f.password_field :password_confirmation
    %br
    = f.submit t('reset_password.form.button'), :class => "btn btn-warning"
