.hero-unit
  %h2= t('initiate_password_reset.header')
  %p= t('initiate_password_reset.paragraph')
  - if request.post?
    .alert.alert-error= t('initiate_password_reset.form_error')
  = form_tag password_resets_path do
    %label= t('initiate_password_reset.form_label')
    = text_field_tag :email
    %br
    = submit_tag t('initiate_password_reset.button'), :class => "btn btn-warning"
