.hero-unit
  %h2= t('signup.form.header')
  = form_for @user, :url => signups_path do |f|
    - if @user.missing_required_signup_fields?
      .alert.alert-error= t('signup.form.errors.blank')
    - if @user.nonunique_email?
      .alert.alert-error= t('signup.form.errors.email_taken')
    - if @user.invalid_email?
      .alert.alert-error= t('signup.form.errors.invalid_email')
    - if @user.password_too_short?
      .alert.alert-error= t('signup.form.errors.password_length')
    - if display_password_confirmation_error?
      .alert.alert-error= t('signup.form.errors.password_confirmation')
    - if !@user.is_captcha_valid? && request.post?
      .alert.alert-error= t('global.captcha_error')
    = f.label t 'signup.form.labels.email'
    = f.text_field :email
    %br
    = f.label t 'signup.form.labels.password'
    = f.password_field :password
    %br
    = f.label t 'signup.form.labels.password_confirmation'
    = f.password_field :password_confirmation
    %br
    = f.label t 'signup.form.labels.country_select'
    = f.select :country_code, ::COUNTRY_CODES.collect {|c| [t(c, :scope => :countries), c] }, {:prompt => t("signup.form.country_select_prompt")}
    %br
    = f.label t 'signup.form.labels.city'
    = f.text_field :city
    %br
    = f.simple_captcha :code_type => "numeric"
    %br
    = f.submit t('signup.form.button'), :class => "btn btn-large btn-warning"
