.hero-unit
  %h3= t('confirmnid.header')
  %p= t('confirmnid.paragraph')
  %p.confirm-name= session_name

  = form_tag setnid_registration_path, :class => "inline" do
    = submit_tag t('confirmnid.button_1'), :class => "btn btn-warning btn-large"
  = form_tag rejectnid_registration_path, :class => "inline" do
    = submit_tag t('confirmnid.button_2'), :class => "btn btn-warning btn-large"
