.hero-unit
  %h2= "Is this you?"
  %p.confirm-name= session_name

  = form_tag setnid_registration_path, :class => "inline" do
    = submit_tag "Yes", :class => "btn btn-warning btn-large"

  = form_tag rejectnid_registration_path, :class => "inline" do
    = submit_tag "No", :class => "btn btn-warning btn-large"
