.hero-unit
  %h2= t('registration_confirmation.header')
  - if voter_registration_closed?
    %p= t('registration_confirmation.closed.paragraph_1')
  - else
    %p= t('registration_confirmation.open.paragraph_1')
    - if current_user.can_modify_registration?
      %p= t('registration_confirmation.open.paragraph_2', :changes_allowed => current_user.registration_changes_allowed).html_safe
    %p= t('registration_confirmation.open.paragraph_3')

  .registration-details
    = current_user.full_name
    %br
    = current_user.constituency.name
    %br
    = current_user.voting_location.send(I18n.locale)
    %br

    = link_to t('registration_confirmation.print'), "#", :class => "btn btn-large btn-warning print"
    - if current_user.can_modify_registration?
      %br
      = link_to t('registration_confirmation.modify'), edit_registration_path
