.hero-unit
  %h2= "Please enter your 12-digit National ID Number"
  = form_tag findnid_registration_path do
    - if @invalid_confirmation
      .alert.alert-error= "Please make sure your confirmation matches"
    - if @not_found
      .alert.alert-error= "Invalid National ID Number"
    - if @captcha_incorrect
      .alert.alert-error= "Captcha was incorrect"

    %label= "National ID Number"
    = text_field_tag :nid
    %br
    %label= "Retype National ID Number"
    = text_field_tag :nid_confirmation
    %br
    = show_simple_captcha(:code_type => "numeric") if @render_captcha
    = submit_tag "Confirm", :class => "btn btn-warning"

