.hero-unit
  %h2= t('nidlookup.header')
  %p= t('nidlookup.paragraph')
  = form_tag findnid_registration_path do
    - if @invalid_nid_length
      .alert.alert-error= t('nidlookup.form.errors.length')
    - if @invalid_nid_confirmation
      .alert.alert-error= t('nidlookup.form.errors.confirmation')
    - if @not_found
      .alert.alert-error= t('nidlookup.form.errors.not_found')
    - if @captcha_incorrect
      .alert.alert-error= t('global.captcha_error')

    %label= t('nidlookup.form.labels.national_id')
    = text_field_tag :nid, nil, :dir => "ltr"
    %br
    %label= t('nidlookup.form.labels.confirmation')
    = text_field_tag :nid_confirmation, nil, :class => "disable_paste", :dir => "ltr"
    %br
    .captcha_container= show_simple_captcha(:code_type => "numeric") if @render_captcha
    = submit_tag t('nidlookup.form.button'), :class => "btn btn-warning"

