= "The Civil Registry Authority has this NID #{session_national_id} linked to this name, #{session_name}. If you believe this is an error, please consult the Civil Registry Authority <link> and go to the NID Project <link> to confirm your NID."
%br
= link_to "Try Again", new_registration_path
= link_to "My Account", account_path
