.hero-unit
  %h2= t('login.header')

  - if flash[:notice]
    .alert.alert-success= flash[:notice]
  - if @failed_login
    .alert.alert-error= t('login.form.error')
  = form_for @user_session do |f|
    = f.label t("login.form.labels.email")
    = f.text_field :email
    %br
    = f.label t("login.form.labels.password")
    = f.password_field :password
    %br
    = f.submit t("login.form.submit"), :class => "btn"

  = link_to t('login.create_account'), new_signup_path
  = "&nbsp;".html_safe
  = link_to t('login.reset_password'), new_password_reset_path
