!!! 5
%html{:dir => ("rtl" if I18n.locale == :ar)}
  %head
    %meta{:charset => "utf-8"}/
    %title= content_for?(:title) ? yield(:title) : t('global.title')
    = csrf_meta_tags
    = stylesheet_link_tag "application", "//fonts.googleapis.com/css?family=Rokkitt|Muli|Open+Sans:400,700,300"
  %body{:class => I18n.locale}
    .container
      %header.clearfix
        %nav
          .navbar
            .navbar-inner
              %ul.nav
                %li= link_to t('global.nav.home'), root_path
                %li= link_to t('global.nav.nid'), "http://nid.gov.ly", :target => "_blank"
                %li= link_to t('global.nav.faq'), faq_path
                %li= link_to t('global.nav.account'), account_path
                - if current_user
                  %li= link_to t('global.nav.logout'), logout_path, :method => :delete
        = image_tag "hnec-logo.png", :class => "hnec-logo"
        .locales
          = link_to "العربية", root_path(:locale => "ar")
          = link_to "English", root_path(:locale => "en")
      .container.main-container
        .main-content= yield
      .container.footer
        = link_to t('global.footer.reset_password'), new_password_reset_path
        %span.divider
        = link_to "HNEC.ly", "http://hnec.ly"
        %span.divider
        = t('global.footer.copyright').html_safe
    = javascript_include_tag "application"
    = render partial: "layouts/snippets"
