!!! 5
%html
  %head
    %meta{:charset => "utf-8"}/
    %title= content_for?(:title) ? yield(:title) : "ocvr"
    = csrf_meta_tags
    = stylesheet_link_tag "application", "//fonts.googleapis.com/css?family=Rokkitt|Muli|Open+Sans:400,700,300"
  %body{:class => I18n.locale}
    .container
      %header
        %ul.locales
          %li= link_to "العربية", root_path(:locale => "ar")
          %li= link_to "English", root_path(:locale => "en")
        %nav
          .navbar
            .navbar-inner
              %ul.nav
                %li= link_to "Home", root_path
                %li= link_to "Get NID Here", "http://nid.gov.ly", :target => "_blank"
                %li= link_to "FAQ", faq_path
                %li= link_to "My Account", account_path
                - if current_user
                  %li= link_to "Sign Out", logout_path, :method => :delete
        = image_tag "hnec-logo.png", :class => "hnec-logo"
      .container.main-container
        .main-content= yield
      .container.footer
        = link_to "Reset Password", new_password_reset_path
    = javascript_include_tag "application"
    = render partial: "layouts/snippets"
