.hero-unit
  - if voter_registration_closed?
    %h2= "Voter registration is closed"
  - else
    - if current_user.registration_complete?
      .alert.alert-success= "You have successfully submitted your voter registration"
    - else
      .alert.alert-error= "You have not yet submitted your voter registration"

    - if !current_user.registration_complete?
      = link_to "Click here to submit your online voter registration form", new_registration_path, :class => "btn btn-large btn-warning"
    - elsif current_user.can_modify_registration?
      = link_to "Click here to update your online voter registration form", edit_registration_path, :class => "btn btn-large btn-warning"

  - if current_user.registration_complete?
    %br
    = link_to "View your registration confirmation", end_registration_path, :class => "btn btn-large btn-warning"
